.result{
    background-color: whitesmoke;
    padding: 8px;
    margin: 16px auto;
    display: flex;
    border-radius: 20px;
    border: 1px gray solid;
    letter-spacing: 1.25px;
    box-shadow: grey 2px 2px 6px;
    color: #430081;
    max-width: 500px;
}

.search-results{
    color:whitesmoke;
    letter-spacing: 0.6px;
}

.album-pic{
    height: 40px;
    border-radius: 12px;
    margin-right: 16px;
}

.btn.stage-button{
    border-radius: 12px;
    margin-left: 16px;
}

.icon-btn{
    border: none;
    background-color: inherit;
    padding: 0 8px;
}

.vote-badge{
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    background-color: #8f00af;
    border-radius: 10px;
    line-height: 1;
    color: whitesmoke;
    max-height: 36px;
    margin: auto;
}

.token{
    text-align: center;
    letter-spacing: 1.25px;
    border: darkslategray 2px solid;
    width: 200px;
    margin: 16px auto;
    border-radius: 16px;
    padding: 8px;
    background-color: lightblue;
    color: darkslategray;
}

html{
    background: linear-gradient(45deg, #8f00af, #430081);
    height: 100%;
}

body{
    background-color: inherit !important;
}