.result{
    background-color: whitesmoke;
    padding: 8px;
    margin: 16px auto;
    display: flex;
    border-radius: 20px;
    border: 1px gray solid;
    letter-spacing: 1.25px;
    box-shadow: grey 2px 2px 6px;
    color: #430081;
    max-width: 500px;
}

.search-results{
    color:whitesmoke;
    letter-spacing: 0.6px;
}

.album-pic{
    height: 40px;
    border-radius: 12px;
    margin-right: 16px;
}

.btn.stage-button{
    border-radius: 12px;
    margin-left: 16px;
}

.icon-btn{
    border: none;
    background-color: inherit;
    padding: 0 8px;
}

.vote-badge{
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    background-color: #8f00af;
    border-radius: 10px;
    line-height: 1;
    color: whitesmoke;
    max-height: 36px;
    margin: auto;
}

.token{
    text-align: center;
    letter-spacing: 1.25px;
    border: #8c5db7 4px solid;
    margin: 16px 16px;
    flex: 100;
    border-radius: 16px;
    padding: 8px;
    background-color: #d9afff;
    color: #430081;
    font-size: 20px;
    max-width: 500px;
}

html{
    background: linear-gradient(45deg, #8f00af, #430081);
    height: 100%;
}

body{
    background-color: inherit !important;
}

.btn-large{
    font-size: 20px;    
    letter-spacing: 1.25px;
}

.text-large{
    color: whitesmoke;
    font-size: 20px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}

.code-input{
    text-transform: uppercase;
    color: #430081;
    letter-spacing: 2px;
    font-size: 20px; 
    height: unset;
}

.spacer{
    border-bottom: whitesmoke 1px solid;
    margin: 8px 16px;
}